

.calender{
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    margin: 20px;
    column-gap: 10px;
    row-gap: 10px;
    
}

.date, .day{
    background-color: antiquewhite;
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content:center;
}

.day{
    background-color: rgb(186, 144, 88);
}